[Unit]
Description=_microRB
After=network.target

[Service]
Type=simple
User=user
WorkingDirectory=/home/user/_microRB
ExecStart=/bin/bash /home/user/_microRB/micro.sh
Restart=always
RestartSec=1
StartLimitIntervalSec=0


[Install]
WantedBy=multi-user.target
